<section class="container">
    <div class = "bookId">
        <div class="row ">
            <div class="grid-7 mt-9">
                 <h4>{{book.titulo}}</h4>
                 <h5 class="mt-1 text-gray2">{{book.autor}}</h5>
                 <p class="mt-2">{{book.descricao}}</p>

                <div class="flex-start mt-3">
                    <a href = "/books" class="btn-primary mr-3">Voltar</a>
                    <a href = "/books/edit/{{book.idbooks}}" class="btn-primary mr-3">Editar</a>
                    
                    <form action="/books/remove/{{book.idbooks}}" method="post">
                        <input type="submit" value="Deletar" class="btn-primary">
                    </form>
                </div>
                <p class="mt-4"><span class="text-black bold">Páginas:</span> {{book.pagina}} páginas.</p>
            </div>
            
            <div class="grid-4 flex-center mt-9">
                <div class="book-container">
                    <img src="data:image/png;base64,{{book.imagem}}" alt="{{this.titulo}}" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>
